* {
    box-sizing: border-box;
}

:root {
--dark-blue:rgb(0, 30, 95);
--light-blue: rgb(0, 45, 143);
--light-grey: rgb(207, 207, 207);
--orange: #e15600;
}

/*paragraph text-color */
body {
    margin: 0;
    padding: 0;
    color: var(--light-grey);
    background-color: var(--light-grey);
    font-family: "Goudy Bookletter 1911", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    color: white;
    background-color: var(--dark-blue);
    margin: 0;
    font-size: 1.4rem;
}

header {
    background-color: var(--light-blue);
    padding: 20px 5% 15px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0);
    border-bottom: 25px solid var(--dark-blue);
    border-top: 5px solid var(--dark-blue);
    border-left: 5px solid var(--dark-blue);
    border-right: 5px solid var(--dark-blue);
    display: flex;
}

header h1 {
    height: 100px;
    width: 450px;
    background-color: var(--light-blue);
    font-size: 80px;
    color: var(--orange);
    text-shadow: 3px 6px var(--dark-blue);
    text-align: left;
    margin: 5px;
    display: flex;
    line-height: 1;
}

header a {
    color: var(--orange);
    text-align: right;
    padding-left: 10%;
    font-size: 20px;
}

header :hover {
    opacity: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

nav a {
    padding: 5px 10px;
    color: white;
    margin-right: 10px;
    font-size: 1.4rem;
    background-image: linear-gradient(270deg, white 0%, white 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--orange);
}

nav a:last-child {
    margin-right: 0;
}

.Design-Image {
    display: flex;
    margin: center;
    justify-content: center;
    border: solid 4px var(--dark-blue);
    background-color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero-banner {
    background-size: cover;
    background-position: center;
    padding: 2% 6%;
    display: flex;
    text-align: right;
    min-height: 30vh;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

.hero-banner h2 {
    color: var(--orange);
    background-color: white;
    padding: 5px 10px;
    font-size: 50px;
    text-shadow: 2px 6px var(--dark-blue);
    display: flex;
    justify-content: center;
    border: solid 2px var(--dark-blue);
}

.hero-banner div {
    flex: 0 0 90%;
}



.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    margin-bottom: 10px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px var(--dark-blue);
    font-size: 5vw;
    line-height: 1.1;
    color:var(--light-blue);
}

.page-section > div {
    flex: 0 0 77%;
}

.page-section p {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--light-blue);
    background-color: var(--light-grey);
    color: var(--light-blue);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0,5s;
    font-size: 0.9rem;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
    background-color: var(--orange);
}

.flex-item div {
    padding: 8px 10px;
}

.flex-item h3 {
    font-size: 1.6rem;
    color: var(--light-blue);
}

.Photo {
    display: flex;
    margin-left: 50%;
    justify-content: center;
    max-width: 200px;
    max-height: 450px;
    background-color: black;
    background-size: cover;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: white;
}

.contact address a {
    color: var(--light-blue);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--dark-blue) 0%, var(--dark-blue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: bottom;
    transition: all 0.25s ease-in;
   /*  COME BACK TO THIS LATER --> background-image: linear-gradient(); */
   background-position: bottom;
   transition: all 0.25s ease-in;
   margin: 0 0.2rem 0.1rem;
   display: inline-block;
}

.contact address a:hover {
    background-size: 100% 88%;
    color: var(--orange);
    background-color: var(--dark-blue);
}

.contact address:last-child {
    margin-right: 0;
}
/* Largest Image */
.Challenge-Module-1 {
    background-image: url(../images/Horiseon.jpg);
}

.My-Landing-Page {
    background-image: url(../images/MyLandingPage.jpg);
}

.react-calc {
    background-image: url(../images/calculator.jpg);
}

/* Portfolio Images */
/* COME BACK LATER
--dark-blue:rgb(165, 165, 165);
--light-blue: rgb(5, 70, 225);
}
--dark-blue:rgb(165, 165, 165);
--light-blue: rgb(5, 70, 225);
}
--dark-blue:rgb(165, 165, 165);
--light-blue: rgb(5, 70, 225);
}

*/

@media screen and (max-width: 99px) {
    header{
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .page-section > h2 {
        border-right: none;
        border-bottom: 4px solid var(--dark-blue);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
        color: var(--dark-blue);
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }

    .flex-item :first-child {
        min-height: 150px;
    }

    .hero-banner {
        justify-content: center;
        text-align: center;
    }

    .contact address {
        flex-direction: column;
        align-items: flex-start;
    }
}
